doctype html
head
  meta(charset='UTF-8')
  title Lake&apos;s Blog
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../public/css/index.css')
.header
  .title(style='margin-top:150px;') #{error_num}
  .description #{error_description}
  .return
    a(href='/') return to main
